body{
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}


main{
    background: #ffffff;
}

.container{
    max-width: 90%;
    margin: auto;
}


li{
    list-style: none;
}


a{
    text-decoration: none;
    color: #000000;
}

nav{
    background: #ffffff;
    height: 75px;
}

nav a{
    font-weight: 700;
    line-height: 30px;
}


.nav-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.item{
    padding: 10px;
    font-size: 20px;
}

.last-item{
    flex-grow: 1;
    font-size: 20px;
}


.live-link{
    color: #0000ff;
}

.log-in{
    font-size: 16px;
}


.mini-nav{
    margin-top: 15px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 2rem;
}


.mini-nav span{
    color: #ff764d;
}

.mini-nav a{
    padding: 20px;
}


.header-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('./assets/ableton-image-1.jpg');
    height: 1184px;
    width: 1333px;
    margin: auto;
}


.header-title h6{
    position: absolute;
    color: #ff764d;
    line-height: 24px;
    font-size: 82px;
    left: 50%;
    top: 250px;
}


.header-content{
    margin: auto;
    max-width: 75%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.header-content h1{
    font-weight: 700;
    line-height: 42px;
    font-size: 30px;
}

.header-content a{
    color: #0000ff;
}

.header-content p{
    font-size: 20px;
}