body{
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}


main{
    background: #ffffff;
}

.container{
    max-width: 90%;
    margin: auto;
}


li{
    list-style: none;
}


a{
    text-decoration: none;
    color: #000000;
}

nav{
    background: #ffffff;
    height: 75px;
}

nav a{
    font-weight: 700;
    line-height: 30px;
}


.nav-flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.item{
    padding: 10px;
    font-size: 20px;
}

.last-item{
    flex-grow: 1;
    font-size: 20px;
}


.live-link{
    color: #0000ff;
}

.log-in{
    font-size: 16px;
}


.mini-nav{
    margin-top: 10px;
    font-weight: 700;
    line-height: 24px;
}


.mini-nav span{
    color: #ff764d;
    margin-right: 2rem;
}


/*
background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-image: url(&quot;https://ableton-production.imgix.net/about/header.jpg?auto=format&amp;dpr=3&amp;fit=crop&amp;fm=jpg&amp;h=692&amp;ixjsv=1.1.3&amp;q=33&amp;w=313&quot;);
*/